body {
    min-width: 350px;
    font-family: sans-serif;
    overflow: hidden;
}

#loader {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
}

.error {
    color: red;
}

.nowrap {
    white-space: nowrap;
}

/*#msgbox{
    position: absolute;
    top: 0px;
    left: 0; 
    z-index: 3;
    box-shadow: rgba(0,0,0,0.7) 0 0 15px;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#msgbox .inner {
    padding: 15px;
}

#msgbox.error {
    background-color: #fdcc38;
    color: #000;
}*/

#msgbox{
    position: absolute;
    top: 10px;
    left: 0; /* calculated in JS */
    z-index: 3;
    width: 100%;
    text-align: center;
}
#msgbox .inner {
    display: inline-block;
    font-weight: normal;
    line-height: 16px;
    padding: 3px 6px;    
    background-color: #bdf0b7;
    color: #000;
    border-radius: 4px;
    max-width: 90%;
}
#msgbox.msgbox-warning .inner {
    background-color: #fdcc38;
    color: #000;
}


#try_again {
    margin-top: 15px;
}

.clear {
    clear: both;
}

.header {
    padding: 10px 0 15px 0;
    margin: 0;
    text-align: center;
    background-color: #f1f1f1;
    text-shadow: 1px 1px 1px #fff;
}
.header .header-title {
    padding: 0;
    margin: 0;
}

.footer {
    padding: 5px 0;
    margin: 0;
    background-color: #f1f1f1;
    text-shadow: 1px 1px 1px #fff;
    position: relative;
}
.footer p {
    margin: 0;
    font-size: 12px;    
}
a.footer-logo {
    font-size: 20px;
    color: #555;
    line-height: 100%;
    letter-spacing: -1px;    
    text-decoration: none;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}
a.footer-logo img {
    vertical-align: top;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
}
.footer .powered-by {
    display: inline-block;
    text-align: center;
}
.footer .links {
    position: absolute;
    top:15px;
    right:10px;
    font-size: 16px;
}
.footer .links a {
    color: #999;    
    margin-left: 5px;
}
.footer .links a:hover {
    color: #3399F3;
}

.footer .links-left {
    position: absolute;
    top:15px;
    left:10px;
    font-size: 16px;
}
.footer .links-left a {
    color: #999;    
    margin-left: 5px;
}
.footer .links-left a:hover {
    color: #3399F3;
}

.footer .logged-only {
    display: none;
}
.logged .footer .logged-only {
    display: initial;
}

.content {
    padding: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
}

a.header-logo {
    display: inline-block;
    text-decoration: none;
}

a.header-logo .bigger {
    color: #C00;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;    
}
a.header-logo span.bigger img {
    /*position: relative;
    top: 6px;*/
    vertical-align: bottom;
}
a.header-logo span.smaller {
    color: #666;
    font-size: 17px;
    display: block;
}

#user {
    font-weight: bold;

    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;    
}
#user-div {
    margin: 0 0 10px 0;
    color: #999;
    padding: 0 10px;
}

.user-link {
    color: #000;
    opacity: 0.4;
}
.user-link:hover {
    color: #000;
    opacity: 1;
}
.logout-link {
    float: right;
}
.help-link {
    float: right;
    margin-right: 10px;
}
.reload-link {
    float: right;
    margin-right: 10px;
}
.reload-link:hover, .reload-link:active, .reload-link:focus {
    color: #d00;
}

#main_content {
    position: relative;
    max-height: 320px;
    overflow: auto;
}
#main_content.overlayed {
    overflow: hidden;
}

.show-item {
    position: relative;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
.show-item:hover {
    background-color: #f1f1f1;
}
.show-item:last-child {
    margin: 0;
}
.show-item .secondary {
    display:block;
}

.show-item .ti {
    padding-right: 100px;
    margin: 0;
}
.show-item .season, .show-item .episode {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.show-item .sort-handler {
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 16px 16px 0 0;
    font-size: 14px;
    cursor: pointer;
    padding: 3px 6px 0 6px;
    background-color: #FFF;
}
.show-item:hover .sort-handler {
    display: block !important;
}
.sort-handler .glyphicon {
    opacity: 0.7;
}
.sort-handler:hover .glyphicon {
    opacity: 1;
}

.show-item .dropdown {
    position: relative;
}

.show-item .episode .badge {
    font-size: 18px;
    cursor: pointer;
    background-color: #999;
}
.show-item .episode .badge .glyphicon {
    font-size: 16px;
    line-height: 18px;
}
.show-item .episode .badge:hover {
    background-color: #3db63b;
}

.shows-loader {
    margin: 10px 0 0 0;
    text-align: center;
}

#showslist {
    margin: 0;
    /* fix: series list in the overlay is too short if there are only a few of shows in the list */
    min-height:200px;
}

#showslist .show-item .title.linked {
    cursor: pointer;
}
#showslist .show-item .title.linked:hover {
    color: #42B7F8
}

.main-content-overlay {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 400px;
}

.show-item .secondary {
    display:block;
}
.overlay-inner {
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.overlay-inner .ti {
    margin: 0;
    padding: 10px;
}
.overlay-inner .ti .title {
    width: 90%;
}
.overlay-inner .title {
    display: block;
}
.episodes-list {
    overflow: auto;
    /*position: relative;*/
}
.episodes-list .season-header {
    font-weight: bold;
    position: relative;
    z-index: 5;
    background-color: #f1f1f1;
    width: 90%;
    padding: 10px;
    /*padding: 1%;*/
}
.episodes-list .season-header.fixed {
    position: fixed;
    top: 0px; /* updated in JS */
    z-index: 4;
}
.episodes-list .season-header.fixed.absolute {
    position: absolute;
}
.overlay-close-btn {
    position: absolute;
    top:10px;
    right: 20px;
    cursor:pointer;
}
.episode-item .ico-info {
    float: left;
    z-index: 1;
    visibility: hidden;
    color: #C55AF7;
    margin-left: 5px;
}
.episode-item:hover .ico-info {
    visibility: visible;
}
.episode-item:hover {
    background-color: #DEDEDE;
}
.episode-item-ti {
    margin: 0;
    float:left;
}
.episode-item {
    cursor: pointer;
    padding: 5px 10px;
}
.episode-item.last-seen .title {
    color: #C00;
}
.episode-item:hover {
    
}
.episodes-container {
    overflow: auto;
    /*box-shadow: inset 0 5px 7px 1px #aaa;*/
    position: relative;
    padding: 0px 0 0 0px;
}
.episode-loader-msg {
    padding: 0 10px;
}
.seasons-nav {
    margin: 0;
}

.page-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #777;
    opacity: 0.5;
    z-index: 1000;
    top: 0;
}
.page-modal {
    position: fixed;
    top: 100px;
    width: 50%;
    margin: 0 auto;
    z-index: 1001;
    background-color: #fff;
    border-radius: 5px;
}
.page-modal .inner {
    padding: 20px;
}
.page-loader {
    text-align: center;
}
.page-loader-spinner {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
}

/* --------- qtip -------- */
.qtip-dark {
    background-color: #3a3a3a !important;
    color: #fff !important;
    font: 12px/16px 'Open Sans',Arial,sans-serif !important;
}
.qtip-dark .qtip-content {
    padding: 5px 10px;
}

.qtip-dark .qtip-content a {
    color: #95d167;
}
.qtip-dark .qtip-content a:hover {
    color: #fff;
}

.qtip-red {
    background-color: #FF8080 !important;
    color: #fff !important;
    font: 12px/16px 'Open Sans',Arial,sans-serif !important;
}

.qtip-red a {
    color: #fff;
    text-decoration: underline;
}
.qtip-red a:hover {
    text-decoration: none;
}

/* -------------- compact interface -------- */

.compact-interface .content {
    padding: 5px;
}

.compact-interface .header {
    padding: 5px 0 10px 0;
}

.compact-interface .header-title {
    font-size: 22px;
}

.compact-interface #user-div {
    padding: 0 5px;
    margin-bottom: 5px;
    font-size: 12px;    
}

.compact-interface .show-item {
    padding: 5px;
}

.compact-interface .show-item .ti {
    font-size: 14px;
}

.compact-interface .show-item .badge {
    font-size: 14px;
    top: 8px;
}

.compact-interface .show-item .badge .glyphicon {
    font-size: 14px;
    line-height: 16px;
}

.compact-interface .show-item .secondary {
    font-size: 13px;
}

/* ---------------- compact ----------- */

.info-tip {
    color: #000;
    position: absolute;
    top: 0px;
    left: 0;    
    display: none;
    cursor: help;
    background-color: #FFF;
    border-radius: 14px;
    font-size: 14px;    
}
.show-item:hover .info-tip {
    display: inline-block;
}
.info-tip.info-tip-disabled {
    display: none !important;
}
.show-item .episode .info-tip {
    position: absolute;
    top: -6px;
    left: -6px;
}
.help-star {
    color: #ff8d1e;
}
.help-text {
    color: #ccc;
}

.show-link {
    font-size: 12px;
    color: #42B7F8;
    cursor: pointer;    
    display: none;
}
.show-item:hover .show-link {
    display: inline-block;
}

.show-item .my-shows-icon {
    background: url(../img/my-shows-ico.png) no-repeat center center;
    width: 12px;
    height: 13px;
    opacity: 0.8;
    cursor: pointer;
    display: none;
}

.show-item:hover .my-shows-icon {
    display: inline-block;
}

.show-link-form .show-title {
    font-weight: bold;
    font-size: 16px;  
    margin-bottom: 5px;  
}
.show-link-form .input-group {
    margin: 0 0 5px 0;
}
.show-link-form .url-input {
    /*display: block;
    margin: 0 0 5px 0;*/
    width: 240px;    
}

.search-form {
    margin: 0 10px;
    display: flex;
}
.search-form .form-group {
    width: 100%;
    margin: 0 10px 0 0;
}
.search-form input {
}
.search-results-container {
    margin: 10px 10px 0 10px;
    overflow: auto;
}
.search-results-container .found-item {
    padding: 0;
    cursor: pointer;
}
.search-results-container .found-item .ti {
    padding: 5px 10px;
}
.search-results-container .found-item .ti:hover {
    color: #3399f3;
}
.found-item .found-item-expand {
    position: absolute;
    top: 5px;
    right: 10px;
}
.found-item .found-item-labels {
    padding: 0 10px 5px 10px;
}
.found-item .found-item-labels .label {
    background-color: #c2c2c2;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 1px 1px 1px #888;
    margin: 0 1px 2px 0;
    display: inline-block;
    padding: 3px 6px;    
}
.found-item .found-item-labels .active-label {
    background-color: #c00;
    color: #fff;
    text-shadow: none;
}
.found-item .found-item-labels .disabled-label {
    opacity: 0.5;
    cursor: default;
}
.found-item .caret-up-ico {
    display: none;
    font-size: 10px;
}
.found-item .caret-down-ico {
    display: inline-block;
    font-size: 10px;
}
.found-item.expanded .caret-down-ico {
    display: none;
}
.found-item.expanded .caret-up-ico {
    display: inline-block;
}
.found-item .view-ico {
    color: #d42d0c;
    font-size: 12px;
    margin-left: 15px;
    position: absolute;
    top: 7px;
    right: 10px;    
}
.found-item .my-shows-icon {
    background: url(../img/my-shows-ico.png) no-repeat center center;
    width: 12px;
    height: 13px;
    position: absolute;
    top: 5px;
    right: 10px;    
    opacity: 0.6;
}
.found-item .my-shows-icon:hover {
    opacity: 1;
}
.found-item .title-in {
    margin-bottom: 2px;
    padding-bottom: 2px;
}
.found-item:hover .title-in {
    border-bottom-color: transparent;
}
/*
.found-item .found-item-settings {
    display: none;
    transition: ease;
}
.found-item.expanded .found-item-settings {
    display: block;
}
*/
/*
.found-item .found-item-expand .glyphicon {
    color: #333;
}
.found-item .found-item-expand .glyphicon-triangle-up {
    display: none;
}
.found-item .found-item-expand .glyphicon-triangle-bottom {
    display: inline-block;
}
.found-item .found-item-expand.expanded .glyphicon-triangle-bottom {
    display: none;
}
.found-item .found-item-expand.expanded .glyphicon-triangle-up {
    display: inline-block;
}
*/