body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

form {
    width: 400px;
    margin: 0 auto;
}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #EEE;
}

.page-header .secondary {
    display: block;
}

#status {
    margin-left: 5px;
}

.close-btn-container {
    margin: 40px 0 0 0;
    
}

.form-group {
    margin-bottom: 30px;
}
.container {
    width: 600px;
    margin: 0px auto 0 auto;
    font-size: 16px;
}

.footer {
    width: 400px;
    margin: 60px auto 0 auto;
    text-shadow: 1px 1px 1px #fff;
    font-family: sans-serif;
}

.help-star {
    color: red;
}
.help-text {
}


.footer p {
    margin: 0;
    font-size: 12px;    
}
a.footer-logo {
    font-size: 20px;
    color: #555;
    line-height: 100%;
    letter-spacing: -1px;    
    text-decoration: none;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}
a.footer-logo img {
    vertical-align: top;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
}

.instruction-items {
    margin-bottom: 20px;
    padding-left: 22px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #999;
}
.instruction-items li {
    margin: 0 0 20px 0;
}

.glyphicon.options-close-btn {
    border-radius: 13px;
    width: 25px;
    height: 25px;
    background-color: #FFF;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    opacity: 0.6;
    color: #C00;
    cursor: pointer;
}
.glyphicon.options-close-btn:hover {
    opacity: 0.9;
}

.opts-list-01 {
    padding-left: 20px;
}

.stats-info-icon {
    margin-right: 10px;
}